# VS Code Counter
.VSCodeCounter

# Config files
config/*
!config/default.js
!config/development.js
!config/e2e.js
!config/unit.js

# Logs
logs

# Istanbul
.nyc_output
coverage

# Node Modules
node_modules